#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook. Never forget an idea again.
    %button= link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."
    %p.name - Mackenzie Child

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fas.fa-pencil-alt
        %h2 Notes
        %p Mythologizing cultural memory Self reclaimed histories post-colonial propagated recombinant subjectivity of experience morphology.
      .callout
        %i.fas.fa-rocket
        %h2 Rocket
        %p Hybrid narrative imbue constraint aberration alternative history oeuvre fractured identity masculine parody.
      .callout
        %i.fas.fa-bolt
        %h2 Lightening
        %p Sontag reality principle Pseudorealism psychical condition multiplicity synecdoche tension masculine parody ephemeral. Derrida artifice banal doppelganger hermeneutic phenomenology.

#bottom_cta
  .wrapper
    %h2 For realz!
    %p I want you to sign up!
    %button= link_to 'Click me', new_user_registration_path

%footer
  %p &copy; Sharon Vaughan
